In [1]:
print("Estudo sobre quartil e quantil")

Estudo sobre quartil e quantil

In [7]:
import pandas as pd

file = "C:\\Users\\Priscila\\Downloads\\BigmacPrice.csv"
df = pd.read_csv(file)
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [45]:
quantil_25 = df['dollar_price'].quantile(0.25)

In [46]:
quantil_50 = df['dollar_price'].quantile(0.50)

In [47]:
quantil_75 = df['dollar_price'].quantile(0.75)

In [48]:
quantil_100 = df['dollar_price'].quantile(1)

In [49]:
mediana = df['dollar_price'].median()

In [50]:
media = df['dollar_price'].mean()

In [51]:
moda = df['dollar_price'].mode()[0]

In [52]:
desvio_quadrado = df['dollar_price'].std()

In [53]:
variancia = df['dollar_price'].var()

In [54]:
print(f"Média: {media}")
print(f"Mediana: {mediana}")
print(f"Moda: {moda}")
print(f"Desvio quadrado: {desvio_quadrado}")
print(f"Variância: {variancia}")
print(f"1 Quartil, Quantil de 25%: {quantil_25}")
print(f"2 Quartil, Quantil de 50%: {quantil_50}")
print(f"3 Quartil, Quantil de 75%: {quantil_75}")
print(f"4 Quartil, Quantil de 100%: {quantil_100}")

Média: 3.568011305241521
Mediana: 3.4
Moda: 3.0
Desvio quadrado: 1.4170542245978206
Variância: 2.0080426754505307
1 Quartil, Quantil de 25%: 2.5725
2 Quartil, Quantil de 50%: 3.4
3 Quartil, Quantil de 75%: 4.24
4 Quartil, Quantil de 100%: 11.25