In [5]:
#Importando a bilbioteca pandas
import pandas as pd

#Importando dados de um arquivo csv
file = "c:\\Users\\Priscila\\Downloads\\BigmacPrice.csv"

#Criando um data frame usando o pandas
df = pd.read_csv(file)
#Exibindo o cabeçalho com cinco registros
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [6]:
#Cálculando a média
bigmac_media = df['dollar_price'].mean()
#Exibindo média
print('Média do preço do bigmac em dollares: {}'.format(bigmac_media))

Média do preço do bigmac em dollares: 3.568011305241521

In [7]:
#Cálculando o desvio padrão
bigmac_desvio_padrao = df['dollar_price'].std()
#Exibindo o desvio padrão
print('Desvio padrão do bigmac: {}'.format(bigmac_desvio_padrao))

Desvio padrão do bigmac: 1.4170542245978206

In [9]:
#Utilizando a biblioteca scipy importando métodos estatísticos(stats) 
from scipy import stats

#loc é a media
#scale é o desvio padrão

#Intervalo de 95% de confiança
intervalo_95_bigmac = stats.norm.interval(0.95
                                         ,loc=bigmac_media
                                         ,scale=bigmac_desvio_padrao)
#Exibindo o intervalo de confiança de 95%
print('Intervalo de confiança de 95% é de {}'.format(intervalo_95_bigmac))

Intervalo de confiança de 95% é de (0.7906360608894603, 6.345386549593583)

In [14]:
#Intervalo de proporção

preco = df['dollar_price']

def ecaro(preco):
    if preco > 4:
        return 1
    return 0

df['bigmac_e_caro'] = df['dollar_price'].apply(ecaro)

In [15]:
df.head()

,date,currency_code,name,local_price,dollar_ex,dollar_price,bigmac_e_caro
0,2000-04-01,ARS,Argentina,2.50,1,2.50,0
1,2000-04-01,AUD,Australia,2.59,1,2.59,0
2,2000-04-01,BRL,Brazil,2.95,1,2.95,0
3,2000-04-01,GBP,Britain,1.90,1,1.90,0
4,2000-04-01,CAD,Canada,2.85,1,2.85,0

In [16]:
df.describe()

        local_price     dollar_ex  dollar_price  bigmac_e_caro
count  1.946000e+03  1.946000e+03   1946.000000    1946.000000
mean   1.581609e+04  4.722255e+03      3.568011       0.303186
std    3.940050e+05  1.006232e+05      1.417054       0.459753
min    0.000000e+00  1.000000e+00      0.000000       0.000000
25%    4.450000e+00  1.000000e+00      2.572500       0.000000
50%    1.500000e+01  5.000000e+00      3.400000       0.000000
75%    8.700000e+01  3.200000e+01      4.240000       1.000000
max    1.602000e+07  3.613989e+06     11.250000       1.000000

In [19]:
#Definindo a media da proporção
bigmac_caro_proporcao_media = df['bigmac_e_caro'].mean()
#Exibindo media da proporção
print('Proporção média do preço do bigmac em dollares: {}'.format(bigmac_caro_proporcao_media))

Proporção média do preço do bigmac em dollares: 0.30318602261048305

In [21]:
#Definindo o desvio padrão da proporção
bigmac_caro_proporcao_desvio = (bigmac_caro_proporcao_media * ( 1 - bigmac_caro_proporcao_media)) ** 0.5
#Exibindo desvio padrão da proporção
print('Desvio  padrão da proporção do preço do bigmac em dollares: {}'.format(bigmac_caro_proporcao_desvio))

Desvio  padrão da proporção do preço do bigmac em dollares: 0.4596349184995835

In [26]:
#Intervalo de confiança para proporção
from scipy.stats import t

graus_de_liberdade = df.shape[0] - 1

#Intervalo de 95% de confiança para proporção
intervalo_95_bigmac_proporcao = t.interval(0.95
                                         ,df=graus_de_liberdade
                                         ,loc=bigmac_caro_proporcao_media
                                         ,scale=bigmac_caro_proporcao_desvio/(df.shape[0]**0.5))
#Exibindo o intervalo de confiança de 95%
print('Intervalo de confiança de 95% da proporção é {}'.format(intervalo_95_bigmac_proporcao))

Intervalo de confiança de 95% da proporção é (0.2827517102177196, 0.3236203350032465)

In [28]:
#Margem de erro da proporção de 95%
margem_de_erro_proporcao_bigmac = intervalo_95_bigmac_proporcao[1] - bigmac_caro_proporcao_media
print('Margem de erro da proporção é {}'.format(margem_de_erro_proporcao_bigmac))

Margem de erro da proporção é 0.020434312392763443