In [18]:
import pandas as pd

file = "C:\\Users\\Priscila\\Downloads\\BigmacPrice.csv"
df = pd.read_csv(file)
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [19]:
df['dollar_price'].var()

2.0080426754505307

In [2]:
lista_exemplo_variancia = [1,2,3,4,5]
def media(lista):
    return sum(lista)/len(lista)
media(lista_exemplo_variancia)

3.0

In [10]:
def variancia_amostral(lista):
    media_lista=media(lista)
    tamanho_lista=len(lista)
    lista_de_distancia_quadrada=[]
    for observacao in lista:
        distancia_quadrada=(observacao-media_lista)**2
        lista_de_distancia_quadrada.append(distancia_quadrada)
    variancia=sum(lista_de_distancia_quadrada)/(tamanho_lista - 1)
    return variancia

variancia_amostral(lista_exemplo_variancia)

2.5

In [11]:
def variancia_populacional(lista):
    media_lista=media(lista)
    tamanho_lista=len(lista)
    lista_de_distancia_quadrada=[]
    for observacao in lista:
        distancia_quadrada=(observacao-media_lista)**2
        lista_de_distancia_quadrada.append(distancia_quadrada)
    variancia=sum(lista_de_distancia_quadrada)/tamanho_lista
    return variancia

variancia_populacional(lista_exemplo_variancia)

2.0

In [12]:
import numpy as np

np.var(lista_exemplo_variancia)

2.0

In [14]:
df = pd.DataFrame(lista_exemplo_variancia)

print(df.var())

0    2.5
dtype: float64

In [20]:
np.std(lista_exemplo_variancia)

1.4142135623730951

In [22]:
df = pd.DataFrame(lista_exemplo_variancia)

print(df.std())

0    1.581139
dtype: float64

In [35]:
import pandas as pand
lista2 = [1,2,3,4,5,6,7,8,9]
dfr = pand.DataFrame(lista2)
cv = (dfr.std()/df.mean())*100
print(cv)

0    91.287093
dtype: float64